<nav class="navbar navbar-dark bg-dark">
  <a href="" class="navbar-brand text-white">JWT Auth System</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">登出</button>
</nav>
<!-- 抓postman的json -->
<div class="card m-5" style="width:18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>使用者名稱 : </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>姓名 : </strong>{{userDetails.fullName}}</li>
    <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
  </ul>
</div>